[2015-12-16 22:30] rubix1138 opened #1 "Link broken in documentation"
On your documentation page, http://www.wbh-doc.com.s3.amazonaws.com/uszipcode/index.html, in the first "Basic Search" section, you have a line that reads:

    For all available zipcode attributes, click here.

The link for "click here" is file:///C:/Users/shu/Documents/PythonWorkSpace/py3/py33_projects/uszipcode-project/build/html/uszipcode/searchengine.html#uszipcode.searchengine.Zipcode

Can yo

[2015-12-17 19:26] MacHu-GWU commented on #1
http://www.wbh-doc.com.s3.amazonaws.com/uszipcode/uszipcode/searchengine.html#uszipcode.searchengine.Zipcode

Sorry, the link should be. I 'll correct it soon

[2016-02-18 18:00] veryxcit opened #2 "Radius Calculation"
Hey there has to be a bug with the by_coordinate method on certian lat,lng calculations.
Try it with Lat 42.3612999 Long -88.0899304 (which are the coordinates pulled for zipcode 60073).

I came across this while looking for a 30 mile radius search for zipcodes based on 60073.

[2016-02-19 02:27] MacHu-GWU commented on #2
Could you post your code with this bug to here please? Thank you.

[2016-02-19 05:22] veryxcit commented on #2
`def bug(zip):

    search = ZipcodeSearchEngine()
    zipcode = search.by_zipcode(zip)
    print(zipcode)

    res = search.by_coordinate(zipcode.Latitude, zipcode.Longitude, radius=20, returns=0)
    for r in res:
        print(r.Zipcode)

bug(20855) # try zip 20855
bug(60073) # try zip 60073`

[2016-02-19 05:28] veryxcit commented on #2
[code]

Sorry I couldn't markdown the code earlier you probably got a bunch of notifications :) Anyway when trying to pull by zipcode 60073, there is nothing, no results. And I think the bug is all math ...

[2016-02-19 06:10] MacHu-GWU commented on #2
How about try ``pip install --upgrade uszipcode``

I dont know why, the following code does gives me returns:

[code]

gives me:

[code]

[2016-02-19 14:03] veryxcit commented on #2
Hey not sure if you replied on github before you sent this. The zipcode is
found and returns fine, but then if I try to take the zipcode's Latitude
and Longitude co-ordinates and then try to find the nearby zipcodes, that's
the method that doesn't return results. So the search.by_coordinate returns
no results if using 60073's lat and long co-ordinates.

def bug(zip):

    search = ZipcodeSearchEng

[2016-02-19 18:55] MacHu-GWU commented on #2
Thank you, bug fixed. Please ``pip install --upgrade uszipcode``

[2016-02-19 20:06] veryxcit commented on #2
Thank you!

*Alex Popa*   North Shore IT.me
[image: photo]
Main: 847-231-2123
Direct: 224-277-0699
Email: alex@nsit.me <alex@nsit.me>
Website: www.nsit.me <http://www.nsit.me/>

On Fri, Feb 19, 2016 at 12:55 PM, MacHu-GWU <notifications@github.com>
wrote:

[2016-02-24 20:23] smcoll opened #3 "Cannot pip install into virtualenv with Python 2.7; AttributeError"
[code]

[2016-02-24 23:17] MacHu-GWU commented on #3
**Which version are you using? **

As far as I see, the ``site.getsitepackages`` method are new in Python2.7, if your are using Python2.6, I recommend:

1. unzip the source zip
2. edit uszipcode/data/__init__.py, line 19
3. change ``site.getsitepackages()[1]`` to ``r"C:\Python26\Lib\site-packages"``
4. copy uszipcode directory to ``C:\Python26\Lib\site-packages``

[2016-02-24 23:19] smcoll commented on #3
i'm using 2.7.6.

[2016-02-24 23:28] #1 closed

[2016-02-24 23:35] MacHu-GWU commented on #2
I think it's fixed Please contact me if you found any bug.

[2016-02-25 01:55] #2 closed

[2016-02-25 01:55] MacHu-GWU commented on #3
could you try::

    import site
    print site.getsitepackages()

see what happen

[2016-02-25 16:21] smcoll commented on #3
[code]

[2016-02-25 20:57] MacHu-GWU commented on #3
Looks like your python are not installed correctly. Because site.getsitepackages is a Python27 standard lib. see this: https://docs.python.org/2/library/site.html#site.getsitepackages.

Looks like you are using linux, so I have two solution:

1. find a site.py for py2.7 on internet, for example from CPython official mirror site: https://github.com/python/cpython/blob/master/Lib/site.py
2. re-insta

[2016-02-25 21:19] smcoll commented on #3
OK, turns out that it's a known bug in `virtualenv`: https://github.com/pypa/virtualenv/issues/355

Unfortunately, this means that for some use cases, `uszipcode` is not a viable option...

[2016-02-25 22:02] MacHu-GWU commented on #3
I think you can just hard code the sqlite database file path.

[2016-05-25 04:52] berch opened #4 "unable to open database file"
[GCC 4.2.1 Compatible Apple LLVM 7.0.2 (clang-700.1.81)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/uszipcode/searchengine.py", line 106, in __init__
    self.connect = sqlite3.connect(DB_FILE)
sqlite3.OperationalError: unable to open databa

[2016-05-26 06:33] MacHu-GWU commented on #4
Looks like it failed to get the correct database file path in Linux. I 'll fix it in next release.

[2016-05-28 21:02] MacHu-GWU commented on #3
@smcoll

I recently made a stable release V 0.1.1. Now it's no longer using ``site.getsitepackages()`` to find the database file. It was bad supported for Linux and MacOS. Now I believe it's all fixed.

Thank you

[2016-05-28 21:03] MacHu-GWU commented on #4
@berch

I recently made a stable release V 0.1.1. It was bad supported for Linux and MacOS. Now I believe it's all fixed.

[2016-05-29 17:17] smcoll commented on #3
@MacHu-GWU confirmed as fixed.  Thank you.

[2016-05-29 17:17] #3 closed

[2016-05-30 16:30] berch commented on #4
It's fixed. Thanks.

[2016-05-30 16:30] #4 closed

[2016-08-05 15:14] berch opened #5 "Missing Lat,Lng Info for Zip Codes"
Some zip codes that are in free-zipcode-database-Primary.csv, but their lat, lng info cannot be called.

For example:

from uszipcode import ZipcodeSearchEngine
search = ZipcodeSearchEngine()
o = search.by_zipcode(30724)
o.Latitude

This call returns nothing, but it is clearly a zip code for Eton Georgia that is in the csv.

[2016-08-05 16:24] MacHu-GWU commented on #5
Because the data base I am using here is a intersect of free-zipcode-database-Primary.csv and zcta2010.csv and it's latest google geocoding result. 30724 is not included in uszipcode database. If you search it on google, it's just a very small piece of area.

If you are looking for geo data but not census data, I recommend [Geomate](https://pypi.python.org/pypi/geomate), another project can easily

[2016-08-05 16:37] berch commented on #5
I am using your package to do zip code to lat-lng conversion. I was just surprised that some well used zip codes are not included. 30724 is not the only one. I have other examples as well. Have you considered including zipcodes with incomplete information? I am assuming that's why it is not in the uszipcode db.

[2016-08-05 17:00] MacHu-GWU commented on #5
Hum, I will take that into next patch, will include as many information as I can. For those information doesn't have census data, I will also include them into next version.

The advantage of this is because the geo info is the latest. There's a lot of error in free-zipcode-database-Primary.csv and zcta2010.csv  dataset. I am using the latest google data.

[2016-08-07 14:47] sockofleas opened #6 "TypeError when searching by coordinates"
I'm using pandas and uszipcode to try and find the state that contains a given set of coordinates. I don't know what the issue is or what is causing it but it definitely seems to be an issue with uszipcode. Additionally, the first set of coordinates printed ("40.7830603 -73.9712488") is from the second line of the database, not the first. (The zeroth is the column names.)  Here's the code and the

[2016-08-08 20:36] MacHu-GWU commented on #6
I made an 0.1.3 release to fix this. You can do ``pip install --upgrade uszipcode`` for the latest version.
And my code for your work is:

[code]

[2017-07-12 19:46] #6 closed

[2017-07-12 19:47] #5 closed

[2017-10-27 16:00] jlshin opened #7 "Incorrect/misleading zipcodes"
I am looking at zip codes in the Southern California area and noticed a few lat/long coordinates that returned zip code that do not correspond to the zip code that google maps returns:

For example, when I look up 34.0352, -118.2583 via Google maps I get 90015, whereas the package returns 90079:

`search.by_coordinate(lng=-118.2583, lat=34.0352, radius=50, returns=1)`

 {"City": "Los Angeles", "De

[2017-11-16 16:33] jake-kent opened #8 "Zipcodes are out of date"
The zip code database you are using is from 2012. Many places (Brooklyn zip codes in the 11200-11300 range for example) have added or changed zip codes since then, making this zip code data invalid/unusable. Please update the zip code database you are using to be more up to date.

[2017-11-18 02:14] MacHu-GWU commented on #7
Thank you for reporting the bugs. I will use more up - to - date database in next release

[2017-11-18 02:15] MacHu-GWU commented on #8
Thank you for reminding, I will use more up-to-date db in next release

[2017-11-18 05:20] jake-kent commented on #8
Much appreciated. How soon might you be able to have another release out by?

[2017-11-20 20:47] MacHu-GWU commented on #8
I think it takes another two week. Because currently I can't got good quality zipcode data except from the 2010 censors. I recently find a good one with even more useful data points https://www.unitedstateszipcodes.org/, but it takes time to crawl. I am thinking that, how's the non-existing zipcode in my database bother you? Maybe if I know your use case, I can provide you a temp and future compat

[2017-11-20 22:35] jake-kent commented on #8
Great! Thank you! We were running into an issue for checking the state (which should be New York) for newly created zip codes in the 11200-11300 range that aren't represented in the db. We have added special handling to our code in the meantime. Just having an updated db (https://www.unitedstateszipcodes.org/ has the new zip codes in the 11200-11300 range) will be all we need to solve the issue.

[2017-11-24 13:23] rqblast commented on #8
@MacHu-GWU  I've checked the current version with the following source: http://download.geonames.org/export/zip/
And there is about 11k postal codes which are not represented in the library.
Perhaps, you can use this source?

[2017-11-25 04:28] MacHu-GWU commented on #8
@rqblast http://download.geonames.org/export/zip/ this one doesn't looks like us zipcode, example: `CA	T0A	Eastern Alberta (St. Paul)	Alberta	AB					54.766	-111.7174	`, and there's no other information like Population, Financial.

[2017-12-14 04:44] andrewfulton9 opened #9 "Latitude type is checked twice in find method instead of latitude and longitude being checked"
As title says:

[code]

should be:

[code]

Its a simple fix so I can just make a pull request. By the way, this library has been really useful for me. I use it all the time at work. Thanks for building it out.

[2018-03-06 07:47] Yum1ng commented on #8
These zipcodes (San Diego, CA) are missing from the dataset.
92136
92182
92132
92100
92067
92052
92140
92093
92060
92158
92161
92023
91931
92935
92145
92049
91947
92112
92015
91951
92143
91940
91909
92072
92079
93633

[2018-04-05 19:14] gone commented on #8
Did an updated release end up going out?

[2018-07-17 22:56] liwen611 opened #11 "zipcode still missing"
Good package and very useful for locating place to an address, but a bunch of zipcode information are still missing in this package. For example, 18225, there are probably more

[2018-07-18 17:32] Quetzalcohuatl commented on #8
These zipcodes are also missing:

 [1] 61324 60029 61132 60474 10125 45354 44068 44250 45319 43010 45319 44265 43547 17016 19523 19523 19523 19523 19523
 [20] 19523 18335 17016  1262  1083  1350  1262  1009  1074  1262  1092  1083  1262  1262  1092  1083  1092  1350  2712
 [39]  1262  1262  1467  1083  1244  1092  1092  1083  1350 12915 14707 14707 12927 12915 12915 12927 13404 12820 12915
 [58] 1

[2018-07-18 17:38] MacHu-GWU commented on #8
@gone I am trying to integrate the data in https://www.unitedstateszipcodes.org/ with ``uszipcode``. The new release is still in development.

[2018-07-18 17:38] MacHu-GWU commented on #8
@Quetzalcohuatl Thank you for your information, I will add these in next release.

[2018-07-18 17:39] MacHu-GWU commented on #8
@Yum1ng Thank you for letting me know, I will add those in the next release. By the way, what is your data source of these missing zipcode?

[2018-07-18 17:40] MacHu-GWU commented on #9
@andrewfulton9 Appreciated your contribute!

[2018-09-14 21:04] MacHu-GWU commented on #8
@Yum1ng @Quetzalcohuatl @gone @jake-kent

Hi Everyone, I have done the database upgrade. Now you can even have access to real estate, education, race, age data like what you see https://www.unitedstateszipcodes.org/10001/.

But, the database size growth to 450MB... Anyone has suggestion about how to host the data?

[2018-09-17 14:38] MacHu-GWU commented on #7
It is fixed in 0.2.0 by using more up-to-date database

[2018-09-17 14:38] #7 closed

[2018-09-17 14:39] MacHu-GWU commented on #11
It is fixed by using more up-to-date database in 0.2.0. Becareful about the API backwards in-compatible change.

[2018-09-17 15:05] #11 closed

[2018-09-17 15:07] MacHu-GWU commented on #8
Now the backend database is hosted on https://datahub.io/machu-gwu.

And a new release is released, please note, since the database is greatly improved, the API for 0.2.x is not compatible with 0.1.x.

[2018-09-17 15:07] #8 closed

[2018-09-17 15:10] #9 closed

[2018-10-15 22:11] derekep opened #12 "zipcodes that don't return lat and lon data when using search.by_zipcode"
I went through a debugging process in an attempt to determine where the issue might lie, but was unable to find it myself. We ran several thousand zipcodes through the search.by_zipcode function and a good number of them did not return any latitude and longitude data. (2701 returned the data and 1648 did not) I googled the first few zipcodes for which the data was not returned to ensure they were

[2018-10-15 23:10] derekep commented on #12
Also, I just opened up the database associated with this package and it contains the zipcode (or for sure the first few zip codes) that we are having trouble with.

[2018-10-16 15:14] MacHu-GWU commented on #12
Let's take the first 5 problem zipcode in your file as example:

[code]

- 49560: Google says its invalid: https://www.google.com/maps/search/49560
- 48874, 48870, 48551 actually exists, but by default, ``by_zipcode()`` method **only returns standard zipcode**, but all of other query method have a ``zipcode_type=xxx`` optional parameters to specify the zipcode type you want to return (set None to

[2018-10-16 15:23] MacHu-GWU opened #13 "SearchEngine.by_zipcode(zipcode) Only returns Standard Zipcode"
**Describe the bug**

``SearchEngine.by_zipcode`` should able to only any type of zipcode, and unlike other query methods, it doesn't have ``zipcode_type`` option.

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Solution**

add ``zipcode_type=None`` to ``by_zipcode`` method.

Thanks for @derekep to report

[2018-10-16 20:04] MacHu-GWU commented on #13
Fixed in https://github.com/MacHu-GWU/uszipcode-project/commit/96282b779a3efb422802de83c48ca284598ba952

[2018-10-16 20:04] #13 closed

[2018-10-16 20:05] MacHu-GWU commented on #12
https://github.com/MacHu-GWU/uszipcode-project/issues/13 is fixed in v0.2.2

[2018-10-27 16:45] #12 closed

[2018-12-25 02:32] harrymattison opened #15 "Missing longitude & latitude for Toledo, OH 43660"
Thanks for this good tool. Please add the longitude and latitude data for Toledo, OH.

by_zipcode(43660)

43660
SimpleZipcode(zipcode='43660', zipcode_type='Unique', major_city='Toledo', post_office_city=None, common_city_list=['Toledo'], county='Lucas County', state='OH', lat=None, lng=None, timezone=None, radius_in_miles=None, area_code_list=['419'], population=None, population_density=None, lan

[2019-01-04 00:56] MacHu-GWU commented on #15
I am really sorry about that. since 43660 is not a standard zipcode, it is an unique zipcode for specific address. The lat lng for 43660 is this: 41.65, -83.54.

It is a little bit hard to update the database very frequently.

[2019-01-30 16:19] jkruszynski opened #16 "Change database location"
Is there an easy way to change the database location? Unable to get this working in AWS because the db file is located in a different directory.

[2019-01-30 16:26] MacHu-GWU commented on #16
Now you can't. Are you trying to use AWS Lambda or EC2 instance? The idea solution is to upload the sqlite3 database 's data to AWS RDS, and connect the zipcode search engine to it.

It is a good idea though

[2019-02-01 23:45] altair0319 opened #17 "Missing someting in manual?"
Search zipcode within 30 miles, ordered from closest to farthest

5

What does search stand for?

Thanks

[2019-02-15 11:58] rlam3 opened #18 "Was wondeirng if this library was compatible with graphql?"
Looking for a way to implement auto-complete with this library.

Was wondering if this library was compatible with graphql?

[2019-02-15 12:19] rlam3 opened #19 "The dataset seems to be outdated. Where can we help with updating the dataset?"
The dataset seems to be outdated. Where can we help with updating the dataset?

[2019-02-15 16:32] MacHu-GWU commented on #18
Not now, because it is a light weight python package, it should not rely on external database resources. Any suggestion?

[2019-02-15 16:34] MacHu-GWU commented on #17
plz take a look at https://uszipcode.readthedocs.io/?badge=latest#example-usage,
the first step using this is

[code]

[2019-02-15 16:37] MacHu-GWU commented on #19
This dataset is collected from multiple trusted data source, and I run the crawler every 6 month. A lot of work is needed to manually clean, merging the dataset.

And I am trying to come up a way to allow others to send me .csv .json data file if you have better data.

Any suggestion?

[2019-02-15 16:38] MacHu-GWU commented on #16
@jkruszynski I am adding an option to allow you custom database location in your app.

[2019-02-16 01:04] rlam3 commented on #19
Not sure if this is one of your data sources for housing units, but here is another source link you can probably use.

https://factfinder.census.gov/bkmk/table/1.0/en/ACS/17_5YR/B25001/0100000US.86000

Update it once per year is probably more than enough. 2017 dataset is ready to go. But would need to merge with other datasets to work out.

There are a couple of options:

1. Firebase Database in N

[2019-02-19 15:02] MacHu-GWU commented on #19
@rlam3 most of demographic statistics data are up to date, but the zipcode, total population, land, and water area are from 2012 census.

[2019-02-19 15:04] MacHu-GWU commented on #19
@rlam3 I don't want to host the database, I think I can offer a utility tool to allow users to upload to Mongodb, RDBMS, GraphQL to their own database. How's that?

[2019-02-27 12:36] rlam3 commented on #19
@MacHu-GWU could you share your sources of demographic statistics? Thanks!

I think that offering a tool to switch from relation to nosql would be nice. A big nosql / json file sounds nice and easily parsable. :)

[2019-04-02 16:22] ghost opened #20 "Search by City/State returns Puerto Rico if City/State are None"
**Describe the bug**

Using a SearchEngine method "by_city_and_state" returns an unexpected result if one accidentally passes Nones. It can be handled by not doing this, obviously, but it makes sense I think to be consistent.

**To Reproduce**

[code]
Output :

`[Zipcode(zipcode_type='Standard', major_city='Adjuntas', post_office_city=None, common_city_list=['Adjuntas'] .... ..... ..... educationa

[2019-04-02 18:17] MacHu-GWU commented on #20
Thank you for reporting, I will fix it shortly

[2019-04-02 19:07] adam-attunely commented on #20
No worries, thanks for all your work on this module! It's really useful for research.

[2019-04-10 10:30] konkrer opened #21 "Latitude Longitude in ocean for 94121"
Great tool thanks!

Was testing with some local zip codes though and noticed that the latitude, longitude for 94121 is  miles off in the ocean, for whatever it's worth.

[2019-05-09 19:16] windweller opened #22 "Location / URL to find definition of each variable?"
Hello,

I've been using this library and it has been quite amazing (simple to use and easy to get the data out). However, many of the detailed variables like `families_vs_singles` are left unexplained...I tried to look it up in the US Census main website but that has been difficult to navigate. Do you have a place to point us to if we are trying to find what these variables are/mean?

For example,

[2019-05-13 03:30] MacHu-GWU commented on #22
@windweller you are right, Single_Guardian means only daddy or mom. I will add more document to describe the data point. Because the data is collected from a variety of trust source, I don't think there's an all in one website to describes everything.

[2019-05-14 08:21] mamikonyana commented on #22
Hi @MacHu-GWU I am trying to extend this database (i.e. add more columns), but the code that creates the database is not in the codebase (I only found the old code under dataset/ directory), would you consider sharing the code as well?

[2019-05-15 17:16] vinnieyao opened #24 "missing lat and lng also missing results for radius after using "zipcode_type=None""
I used "zipcode_type=None" in by _zipcode, but I am still missing lat and lng data, like 01655.
I also used "zipcode_type=None" in by _coordinates, but I am still missing some zipcodes around the input zipcode. For example, 00715 should be the result of 00716 but it didn't.

Anyway, thank you for all of your work!

[2019-05-20 18:58] MacHu-GWU-Machine commented on #24
@vinnieyao
For non standard zipcode, currently I don't have the lat lng information ready. But I do see that information in my source website. I will update my crawler for more information about non-standard zipcode

[2019-05-20 18:59] MacHu-GWU-Machine commented on #22
The dataset directory are not any of the source for this library.
I think the easy way is just dump the backend sqlite database in $HOME/.uszipcode and do what ever you want.

[2019-05-28 20:30] staplet14 opened #25 "Possible to know sources of data"
Would be great to know the data-sources, and year for the data. Particularly relevant when using this data to build/update machine learning models.

[2019-06-20 16:55] LTMullineux commented on #25
I have the same issue, I need to know this for an academic report I'm putting together, would be great to know

[2019-06-30 22:56] nog642 opened #26 "Some zipcode polygons are 3D lists"
The polygon for 44122 (using `simple_zipcode=False`) returns a 3D list, unlike most zipcodes. The regular 2D list is itself the only item in an outer list. The 2D list inside also seems much too short to be a good polygon for this zipcode.

I have `uszipcode==0.2.2` installed in a virtualenv.

[code]

The expected behavior is that it returns a 2D list with many more points than that.

Other zipcod

[2019-08-19 14:35] shsab commented on #25
I can see a resemblance between this data and ACS from census.gov. Is that the data source you are using? How can I get the updated information rather than 2015 one?

[2019-10-08 18:53] jake381 opened #27 "search.all() function is no longer available"
I have been using the search.all() function in a previous version of this code to loop over all zipcodes in the database. Is it still possible to access the list of all zipcodes? If not can this feature be added back in?
Thanks

[2019-10-10 21:56] notuntoward opened #28 "documentation bug: returns & the number of zips in chicago"
The documentation says that this:

[code]

will print `56` at the end.

However:

1.  It actually prints `5` because it's using the default value of `returns=5`
2.  If I supply `returns=5000`, so the number of zips isn't limited, the result is not `56` but `58`.

[2019-10-11 14:01] MacHu-GWU commented on #28
Thank you I will look into it, you are right, I should have make it clear that returns is controls the limit

[2019-10-11 14:02] MacHu-GWU commented on #26
Thank you, I will check the data source I crawled for polygon and update it.

[2019-10-11 14:04] MacHu-GWU commented on #25
@staplet14 @LTMullineux @shsab would you mind to send me an email, you can find it in __init__.py file. Thank you.

[2019-10-16 19:06] jlariza opened #29 "Avoid saving the database on /tmp file"
Saving the database on `/tmp` folder have several issues. The main one is that It forces you to download it every time the `/tmp` folder is cleared, like on a system reboot.

As well, it is generating issues when using it on a server that may use different users to run the shell and to run the app. When the downloading the file, `-rw-------` this permissions are attached to it, so only the owner m

[2019-10-16 20:45] MacHu-GWU commented on #29
@jlariza I think its because the previous issue told me that the AWS Lambda and cloud container doesn't support to download file to $HOME directory. but allow to download to /tmp.

I will issue a new release that allows user to customize the path to download

[2019-10-16 21:32] MacHu-GWU commented on #29
@jlariza I just released 0.2.4, now you can specify the directory you want to download the db file to. By default it is still ``$HOME/.uszipcode``

[2019-10-16 21:32] #29 closed

[2019-10-16 21:33] #25 closed

[2019-10-16 21:35] MacHu-GWU commented on #16
@jkruszynski I just released 0.2.4, now you can specify the directory you want to download the db file to. By default it is still ``$HOME/.uszipcode``

[2019-10-16 21:35] #16 closed

[2019-10-16 21:57] MacHu-GWU commented on #27
@jake381  I will add that back in. I recommend you to do ``search.query(zipcode_type=None, returns=999999)`` it is the equivalent method

[2019-10-28 16:43] jawinn commented on #24
@MacHu-GWU
What about running the Google Maps API or some other lookup to update entries that are missing latitude and longitude in the dataset? It makes it hard to use this package for a search that compares distances when so many are missing (several hundred).

Example of some that are missing:
29402 - Charleston, SC - PO Box only zip
94203 - Sacramento, CA - PO Box only zip

[2019-11-24 06:06] sarania86 commented on #19
This is an amazing dataset. I was wondering by the above reply you meant that the whole population-related data are outdated? What about the Real estate or employment section?

[2019-12-09 03:29] rabinnh opened #31 "Time zones returned are not pytz compatible"
The pytz module is the standard for time zones.  The time zones returned by uszipcode don't seem to be compatible "Eastern" is returned for most east coast cities, but 'US/Eastern' is correct:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/xxxx/.local/lib/python3.6/site-packages/pytz/__init__.py", line 181, in timezone
    raise UnknownTimeZoneError(zone)
p

[2019-12-23 12:52] jlariza commented on #29
Perfect. Thank you!

[2020-01-09 18:40] venkatpolisetti opened #32 "search by state does not return all zip codes in Texas"
**Describe the bug**

I am using the following code and got only a few zip codes in Texas where as Texas has a lot of zip codes.

search = SearchEngine(simple_zipcode=False)
zipcodes = search.by_state('Texas')
for zip in zipcodes:
    print(f"zip: {zip.zipcode}, {zip.county}")

output:
zip: 75001, Dallas County
zip: 75002, Collin County
zip: 75006, Dallas County
zip: 75007, Denton County
zip: 7500

[2020-01-09 20:47] venkatpolisetti commented on #32
Looks like I need to pass "returns" parameter so that it would return all of them.

[2020-01-09 20:47] #32 closed

[2020-01-18 03:47] wenima commented on #19
first, thank you for the tool. is there a way to help contribute missing data, even just basic data like the actual zipcode (example: 75036)

[2020-01-18 03:49] subodhgupta opened #33 "Missing Zipcodes"
Hello,

First of all, I need to say that this is an awesome project. Very helpful.
Thank you so much.

While this was not a problem for me, I found the following zip codes did not return any data when queried within the uszipcode-project.  I am raising this bug report as an FYI only.

The zip codes with format 008XX are for Virgin Islands and those with format 969XX are for Guam/American Samoa.

Z

[2020-02-10 20:00] rkulagowski opened #34 "Missing location for lat/long"
The following lat/long (which are all in Alaska) don't map to a location. And the city names don't map to a zip code.

[code]

[2020-02-11 15:52] lscarmic commented on #19
I echo everyone's appreciation for this tool. It's fabulous. Thanks a ton!

Just curious, based on "I run the crawler every 6 months", can we assume population_by_age is most recent, i.e., 6 months old?

I see a fairly large discrepancy between the population_by_year numbers (which go through 2015) and the sum of population_by_age numbers. Is that just reporting errors? Maybe I can just take the d

[2020-03-23 14:38] kosar opened #35 "Fuzzy match error: by_city_and_state changes the city when it is not ambiguously spelled."
**Describe the bug**
Searching for a zip code by city (by_city_and_state) is returning a zip code for a city who's name is close to the one provided, but unnecessarily so, since the city provided is unambiguous.

A clear and concise description of what the bug is.
Searching for city state  : 'burien' , 'wa' returns a zip code for 'Burlington, WA'

**To Reproduce**
by_city_and_state using above tes

[2020-04-02 13:25] RafaRafa commented on #15
Similar issue:

SimpleZipcode(zipcode='52771', zipcode_type='Standard', major_city='Teeds Grove', post_office_city=None, common_city_list=['Teeds Grove', 'Clinton'], county='Clinton County', state='IA', lat=None, lng=None, timezone=None, radius_in_miles=None, area_code_list=['563'], population=None, population_density=None, land_area_in_sqmi=None, water_area_in_sqmi=None, housing_units=None, occup

[2020-05-22 07:14] abhishekperambai opened #36 "Partial results in common_city_list"
while trying to query the common_city_list using zipcode, package gives partial results.

Ex: for zipcode 99505 --> common_city_list
[code]

[2020-06-08 22:10] UGuntupalli opened #37 "Incomplete results using Search Engine"
**Describe the bug**

The results of using the search engine with 2 different methods shown in the documentation yields incomplete results. I have used both the search.query() as well as search.by_state()

**To Reproduce**

Steps to reproduce the behavior:
[code]

**Expected behavior**

I would expect the package methods to list all the zip codes based on valid search criteria. If some are exclude

[2020-06-21 15:45] dvamossy commented on #37
you just have to change the default limit by adding returns=1000000 to your function call (a large number so that you will get all the data)

[2020-08-07 18:55] EvanBolt opened #38 "Manassas Park, VA is included in Prince William County"
**Describe the bug**

When requesting the zip code for Manassas Park, it is listed as being in Prince William County, but it is an independent city in VA and not part of any county

**To Reproduce**

Steps to reproduce the behavior:

`search = SearchEngine(simple_zipcode=True)`
`zipcode = zip_search_engine.by_zipcode('20111').to_dict()`

**Expected behavior**

Manassas Park should return as a coun

[2020-08-28 16:23] magnawhale opened #39 "Zipcode 75036 returns "None" for all fields when using SearchEngine().by_zipcode()"
I love this package, but encountered a missing zip code (or maybe there's some other error going on).
I am using `uszipcode==0.2.4` .

Code to reproduce the issue:
[code]

**Expected behavior**

Zipcode 75036 does in fact exist, it is located just north of Dallas, Texas.

[2020-09-02 15:17] magnawhale commented on #39
I also found another real zip code that erroneously returns 'None':

zipcode 97003 is in Oregon

[2020-09-06 12:40] AmrAwadK opened #40 "Hosted simple database link not working"
**Describe the bug**

Thanks for the great library : ) I had some test cases that were using this library to generate real zip codes, those tests started failing today with a strange error message:

[code]

After some debugging, turns out the [hosted simple database url](https://datahub.io/machu-gwu/uszipcode-0.2.0-simple_db/r/simple_db.sqlite), that is downloaded in this [line in the code](https:

[2020-09-06 12:59] AmrAwadK commented on #40
I think a similar issue is already being addressed in #30, but I think the 2 suggestions made here would still be valiable. the MR hasn't been merged for almost a year though ... let me know if the library is still being maintained.

[2020-09-07 12:43] evladik commented on #40
Does anyone know where I can find an alternative location for the database? as mentioned here `datahub.io` is down.

[2020-09-07 13:23] AmrAwadK commented on #40
@evladik, Here's a local version I had: [simple_db.log](https://github.com/MacHu-GWU/uszipcode-project/files/5183256/simple_db.log)

Note: Just rename `simple_db.log` to `simple_db.sqlite`, I had to change the extension as github [doesn't allow binary file uploads](https://docs.github.com/en/github/managing-your-work-on-github/file-attachments-on-issues-and-pull-requests). To integrate it, use the

[2020-09-07 14:18] evladik commented on #40
@AmrAwadK Thank you very much! I was just about of looking for an alternative in _census.gov_

[2020-09-07 14:57] AmrAwadK commented on #40
@evladik happy to help : )

[2020-09-07 15:06] MacHu-GWU commented on #40
@evladik @AmrAwadK Sorry I was busy on maintaining something else. This library is still under maintaining. Since the 2020 Census coming, I am crawling data at this moment and preparing for the next big version of release.

BTW, I merged the #30 , which allows user to cache the database file anywhere they want.

[2020-09-07 15:22] AmrAwadK commented on #40
That's great @MacHu-GWU : ) Thanks for the help :+1: I think a new pypi release would be needed to pick up the merged MR, correct?

If you think my suggestions here would add value, I'm happy to create a PR. Also any suggestions on where the db should live if `datahub.io` is not as reliable? maybe it could just be in the repo?

[2020-09-10 05:43] Richtermeister commented on #40
Thank you for the quick reaction on this. Unfortunately my current project relies on the complete db file (the 450MB one).
Is there any place to obtain that one still? Thank you for all your help!

[2020-09-12 23:04] stefanuddenberg commented on #40
It would be extremely helpful to have the more complete db available as well!

[2020-09-14 01:51] Richtermeister commented on #40
I was able to obtain a cached copy from a colleague, in case I can provide it to this project.. Let me know.

[2020-09-14 16:08] MacHu-GWU commented on #40
@evladik @AmrAwadK @stefanuddenberg Hi folks, let me find the original file and hosted it on AWS S3, it will be more stable

[2020-10-12 14:08] PeterJCLaw opened #41 "Licensing issues from direct inclusion of dependencies"
I've been evaluating using your package in a project with relatively strict licensing requirements. It looks initially like this project is really useful, however I spotted that you currently vendor in some dependencies (in [`uszipcode/pkg`](https://github.com/MacHu-GWU/uszipcode-project/tree/master/uszipcode/pkg)) rather than declaring them at the package level.

While I can see that one of them

[2020-10-12 14:10] PeterJCLaw opened #42 "Suggest explicitly mentioning that the database is separate from the Python package"
I've been evaluating using your package and it looks initially like this project is really useful.

However currently it is not clear from the description of the package that the underlying database is not actually part of the distributed package and instead is downloaded separately on first use. Obviously this makes the package far less appealing for a variety of use-cases. I appreciate that ther

[2020-10-12 18:01] MacHu-GWU commented on #41
I see, because I am using pretty old fuzzywuzzy package. If the old fuzzywuzzy version I am using is MIT, what change I should made to adapt that? Any idea?

[2020-10-12 18:44] PeterJCLaw commented on #41
Firstly: I am not a lawyer, so I cannot give legal advice. Please don't consider my input as such. I am also not an expert on software licensing.

Personally I would encourage that any project that embeds other projects at least mention it in their README (or somewhere else prominent) regardless of whether the other project's license strictly requires it; it's just a nice thing to do and ensures t

[2020-12-21 00:30] ra-esmith opened #43 "so the population does not seem right .. what am I missing"

[2020-12-21 01:10] #43 closed

[2020-12-21 11:33] ra-esmith opened #44 "sqlite to postgres"
Hello, the documentation suggests

"(RECOMMEND) Dump the sqlite database to any relational database like Postgres, MySQL, and inject the database connection info in your application server."

Could you elaborate on what needs to be done ... to use postgres?

Not sure of what code changes one needs to make etc ...

Thanks!
Evan

[2021-02-21 20:28] arsine1996 opened #45 "Historic Data"
Hi, this is an awesome and great package. Thanks a lot for that. Can you please say whether it is possible to somehow access the historic data?

[2021-02-22 04:24] francisjervis opened #46 "Library stopped working, crash on boot"
I have been using uszipcode for months and it suddenly stopped working. I did not change anything in my requirements.txt or anything else that could have caused this issue. Now when I try to restart my server I get the following:

[code]

[2021-02-22 11:13] francisjervis commented on #46
This was transient, but just un/re-installing with pip a couple of times didn't fix it immediately. Appears to be working now.

[2021-02-22 19:56] glukasiknuro opened #47 "Library fails - Unable to get simple database"
**Describe the bug**

https://datahub.io/machu-gwu/uszipcode-0.2.0-simple_db/r/simple_db.sqlite
returns:

Error 502 Ray ID: 625b403e4b5ded73 • 2021-02-22 19:53:02 UTC
Bad gateway

Also, library returns cryptic error in such case. Looks like it downloads sqlite file (which contains HTML error), but does not notice this was an error.

[code]

**To Reproduce**

See above.

**Expected behavior**

1. A

[2021-02-22 21:19] andyklimczak commented on #47
Seeing the same, unable to download the simple db.
The full db is available however: `SearchEngine(simple_zipcode=False)`

[2021-02-23 00:13] MacHu-GWU commented on #46
@francisjervis there was some issue with database hosting. I am actively developing a new version of it including latest 2020 cencus data and finance statistics, hope I can release the new one in one month.

[2021-02-23 00:13] #46 closed

[2021-02-23 00:14] MacHu-GWU commented on #47
Hi @glukasiknuro  there was some issue with database file hosting. I am actively developing a new version of it including latest 2020 cencus data and finance statistics, hope I can release the new one in one month.

[2021-02-23 00:22] glukasiknuro commented on #47
Just for reference, this comment contains database that can be used instead in case of issues: https://github.com/MacHu-GWU/uszipcode-project/issues/40#issuecomment-688323810

[2021-02-23 00:25] glukasiknuro commented on #47
@MacHu-GWU could you also change code in https://github.com/MacHu-GWU/uszipcode-project/blob/53f37b9a6fd363c78ff16bab43738f87dff248ea/uszipcode/db.py#L69 so that an error is reported if returned status code is not 200 ?

[2021-03-05 03:02] #21 closed

[2021-03-16 13:10] jlariza opened #48 "Import error using SQLAlchemy v1.4"
uszipcode requires sqlalchemy as a dependency; but no version is specified so it will always install the latest version.

SQLAlchemy==1.4 was released yesterday. One of the changes is that

[code]
used on `uszipcode-project/uszipcode/pkg/sqlalchemy_mate/pt.py` raises an import error. However, on uszipcode it is being ignored by a try except call.

So, a fresh install of uszipcode will produce a `I

[2021-03-16 14:29] rv-krosenberg commented on #48
I am fairly new to Python and currently running into this issue. Is there a way to resolve this by downloading previous package versions of uszipcode or SQLALchemy?

[2021-03-16 20:00] jlariza commented on #48
@rv-krosenberg you may run `pip install SQLAlchemy==1.3.23`  and use that SQLAlchemy version in your project

[2021-03-16 21:03] povilasb commented on #48
Yeah, the requirement versions are not frozen: https://github.com/MacHu-GWU/uszipcode-project/blob/1b7681f8c8807badd8e6f5b409aca5b805d60dab/requirements.txt
Anybody cares to make a PR? :)

[2021-03-16 21:38] aaronsmith1234 commented on #48
Just wanted to add that I just ran into this issue as well.

[2021-03-17 01:55] aaronsmith1234 commented on #48
Hey all and @MacHu-GWU ,
I had some free time, so I went and fixed the breakage caused by SQLAlchemy 1.4.0. I don't have permission to push a branch here so had to fork the repo; commit with the necessary changes [here](https://github.com/aaronsmith1234/uszipcode-project/commit/73df0278f7232b789efa6621e629f8e50915bbef). Also note I pinned the SQLAlchemy version, but none of the other reqs. Not sur

[2021-03-23 22:52] isik-kaplan commented on #48
Having the same issue here, tried bot the above 1.4.0, the 1.4.0 and 1.3.23 and all seem to fail, anyone care to give a hand with this one folks?

[2021-03-23 23:02] aaronsmith1234 commented on #48
@isik-kaplan, did you try my fix linked above?

[2021-03-23 23:10] isik-kaplan commented on #48
@aaronsmith1234 haven't actually, let me install it from your repo and get back to you asap, thanks!

Why haven't you submit a PR btw?

[2021-03-23 23:28] aaronsmith1234 commented on #48
Just a note, I just made sure that with those tweaks, all the tests were able to pass successfully; I’m using that as a proxy for actually working, assuming tests are covering that. 😬I’m still pretty new to GitHub, never done a pull request from a fork, I’ll take a look later tonight. Let me know if it works!

[2021-03-24 03:22] aaronsmith1234 commented on #48
Just opened PR #49 for this; easier to do than I imagined!

[2021-03-24 12:00] kumarprakashmani commented on #48
Hi I was having a similar issue but I  fixed it by adding bold letter path in model .py file
"from .pkg.sqlalchemy_mate.**orm.extended_declarative_base** import ExtendedBase"

[2021-03-24 12:01] kumarprakashmani commented on #48
Hi I was having a similar issue but I fixed it by adding bold letter path in model .py file can try this
"from .pkg.sqlalchemy_mate.orm.extended_declarative_base import ExtendedBase"

[2021-03-25 07:47] isik-kaplan commented on #48
Hey, thanks!

I actually deleted my containers and rebuilt them all and it magically fixed my issue with version pinned to 1.3.23, the version was pinned to 1.3.23 before rebuilding but somehow it didn't work without me rebuilding it.

[2021-04-09 15:38] chmuche opened #50 "[PY2.7] import uszipcode raise Import Error"
**Describe the bug**

We use uszipcode in python2.7 for historical reason

after an update we can't import uszipdecode anymore

**To Reproduce**
install latest version of uszipcode using pip for python2.7 (`--force-reinstall` if needed)

then
[code]

It seem related to the [latest build](https://github.com/MacHu-GWU/uszipcode-project/pull/49) which didn't upgrade the package version.
It is still i

[2021-04-12 08:34] chmuche commented on #50
To fix this I need to install this lib from, github direcly

`pip2.7 install git+https://github.com/MacHu-GWU/uszipcode-project.git`

[2021-04-12 08:34] #50 closed

[2021-04-12 11:40] MacHu-GWU commented on #50
Hi @chmuche it is because the version of dependencies is not hardcoded. And one of the dependencies are not maintained for python2.7 anymore, when you pip install uszipcode, by default it install the latest dependencies version. A hacky way but not recommended way to fix it is: "manually install specific version of the dependencies, and install uszipcode at last"

I strongly recommend you to use p

[2021-04-22 14:38] s22-rxr commented on #48
the requirements should be frozen.

[2021-04-29 20:11] jwaladhamala opened #52 "What are the different sources of data being used in this package and how old are those datasets?"
What is the source of this dataset?

Stats and Demographics

population
population_density
population_by_year
population_by_age
population_by_gender
population_by_race
head_of_household_by_age
families_vs_singles
households_with_kids
children_by_age

[2021-04-30 00:26] y12uc231 opened #53 "What data source is used to get demographic information?"
Can you share the data source link from where you received demographic information?

[2021-05-23 15:07] nouyang commented on #42
Just for future people, (one day I'll open a pull request on the docs there are a lot of types )
It downloads on first run, and doesn't need to redownlaod. So for instance I downloaded both simple and nonsimple

[code]

you will see
(v3) 10:51:26 chai@mycomp:~/projects/uszipcode$ python example.py
Start downloading data for simple zipcode database, total size 9MB ...
  1 MB finished ...
  2 MB fin

[2021-05-23 15:25] nouyang commented on #52
Looking at the source code and commits since 2016.
The database is updated 2019.
https://datahub.io/machu-gwu/uszipcode-0.2.0-simple_db

WE can't say for certain what is in the database. There are a few about.rst files which give clues.

https://github.com/MacHu-GWU/uszipcode-project/tree/master/dataset
https://github.com/MacHu-GWU/uszipcode-project/blob/master/dataset/federalgovernmentzipcodes/ab

[2021-06-08 00:12] MacHu-GWU commented on #53
@y12uc231 it is from open census data.

[2021-06-08 00:12] #53 closed

[2021-06-08 00:15] MacHu-GWU commented on #52
To be honest, I don't know the correctness of the Stats and Demographics. This data source is mostly from open census data.

[2021-06-08 00:15] #52 closed

[2021-06-08 00:26] MacHu-GWU commented on #48
@aaronsmith1234 by the way, I made this compatible to sqlalchemy<1.4 as well by adding a try, catch around your code. Thank you for your contribution

[2021-06-08 00:26] #48 closed

[2021-06-08 00:37] MacHu-GWU commented on #44
@ra-esmith I think this question is out of scope of this library. But I do can give you some solution:

1. find where you store the .sqlite file.
2. download dbeaver https://dbeaver.io/download/, it is a universal SQL client
3. connect to the sqlite database, do select * and dump the result as CSV
4. connect to your psql, and load from CSV

I am about to allow to use any private SQL database to ho

[2021-06-08 00:37] #44 closed

[2021-06-08 00:40] MacHu-GWU commented on #42
@nouyang i want to add one thing, use absolute path for ``db_file_dir`` parameter to avoid redownload database. By default, you don't need to specify this value. If it is a relative path, then the ``db_file_dir`` is changing if u run your code from different directory

[code]

[2021-06-08 00:40] #42 closed

[2021-06-08 00:43] MacHu-GWU commented on #28
@notuntoward  actually it is mentioned at https://uszipcode.readthedocs.io/01-Tutorial/index.html#restrict-number-of-results-to-return

[2021-06-08 00:43] #28 closed

[2021-06-08 00:44] #27 closed

[2021-06-08 00:44] #22 closed

[2021-06-08 00:45] #17 closed

[2021-06-08 00:45] #18 closed

[2021-06-08 00:46] MacHu-GWU commented on #24
@jawinn I ran a google map api for all the zipcode when I made the release, but I didn't run it everytime in new release. I do need some automation to build this database. But unfortunately, it is not available yet.

[2021-06-08 00:46] #24 closed

[2021-06-08 01:15] #15 closed

[2021-06-08 01:18] MacHu-GWU commented on #19
@lscarmic if the data source I crawled is not updated for 6 months, then there's no improvement with the data sadly.

[2021-06-08 01:19] MacHu-GWU commented on #19
Hi All, I will make this issue long-living and redirect similar question to this one

[2021-06-08 01:19] #20 closed

[2021-06-08 01:19] #26 closed

[2021-06-08 01:20] MacHu-GWU commented on #38
I cannot fix it on this level. But I do want to develop a way to improve single zipcode data error easily in next major release

[2021-06-08 01:20] #38 closed

[2021-06-08 01:22] MacHu-GWU commented on #35
@kosar good catch. I cannot fix it because it is highly depends on the fuzzy match algorithm I am using.

[2021-06-08 01:25] MacHu-GWU commented on #31
@rabinnh  it is because the source I crawled is natively not compatible with pytz. I think I need to iterate through all timezone info and try converting to pytz. If exception catched, then handle it differently. But it is a lot of works. Will do it in next major release.

[2021-06-08 01:26] MacHu-GWU commented on #37
@UGuntupalli https://uszipcode.readthedocs.io/01-Tutorial/index.html#restrict-number-of-results-to-return

[2021-06-08 01:26] #37 closed

[2021-06-08 01:26] MacHu-GWU commented on #40
@evladik @AmrAwadK @stefanuddenberg fixed in new release 0.2.6

[2021-06-08 01:26] #40 closed

[2021-06-08 01:28] MacHu-GWU commented on #41
I figured it out. just remove the fuzzywuzzy source code from this project and use that as a dependency

[2021-06-08 01:28] #41 closed

[2021-06-08 01:29] MacHu-GWU commented on #45
@arsine1996  could you give me an example that what type of historic data and what is the access pattern you are expecting?

[2021-06-08 01:29] MacHu-GWU commented on #47
@glukasiknuro fixed in 0.2.6

[2021-06-08 01:29] #47 closed

[2021-06-10 12:34] zevgriner commented on #31
Please make your change IANA-compatible based on Python 3.9 [zoneinfo](https://docs.python.org/3/library/zoneinfo.html) package.
Time zone labels do NOT contain daylight savings time information. For example, Arizona and Hawaii do not implement daylight savings time, and have separate IANA labels to infer that information.

[2021-06-10 12:45] rabinnh commented on #31
Thanks MacHu.  Love the module.

[2021-06-11 12:19] weber-stephen commented on #19
This is such an amazing library! I think one thing that is holding me back from using it is trusting the source it came from. I don't see a list of the data sources where you are pulling this data from. Is there anyway you can provide a list?

[2021-06-11 13:35] MacHu-GWU commented on #19
@weber-stephen send me a direct mail

[2021-06-17 21:38] samurai-goldfish opened #54 "Easier way to filter ages or other values with arguments"
I would be easier if we could filter ages of both male and female.

[2021-09-21 20:32] strugee opened #55 "uszipcode silently redownloads the database in case of corruption"
**Describe the bug**

If the dataset is corrupted in some way, uszipcode will silently redownload it.

**To Reproduce**

Steps to reproduce the behavior:

1. In a Python console, run `import uszipcode; uszipcode.SearchEngine()` to trigger a download
2. Run `echo > path/to/simple_db.sqlite` to truncate the file
3. Run step 1 again
4. Notice how the file is redownloaded, with no mention of the corru

[2021-10-15 19:37] darshil333 opened #56 "Population update cycle and source for the population"
Hello, thanks for this awesome tool.
I had question related to the population data. Is it using Census dataset (only) for the population count? and how often the population data is getting updated? when was the last time the population was updated?
I tried to look into this by checking all the documentation and even issues but was little unclear. It would be great if you can help me on this!

[2021-11-05 14:03] a143416 commented on #39
I am experiencing same issue with v0.2.6. For some zip code, the app can find the city name but returns None for gps info.

[code]

[2021-12-15 16:45] MacHu-GWU commented on #56
@darshil333  yes it is using Cencus dataset only for the population count, <=0.2.6 it is based on Cencus 2010 data, I just crawled 2020 Census data, plan to release new major version using Census 2020 data.

[2022-01-06 01:48] MacHu-GWU commented on #56
@darshil333 just released a new version 1.0.1 and applied some Census 2020 data. And the data source are also attached.

[2022-01-06 01:48] #56 closed

[2022-01-06 01:52] MacHu-GWU commented on #55
@strugee I just released new version 1.0.1. Now it support three: ``db_file_path``, ``download_url``, ``engine`` parameters for ``SearchEngine`` that can solve this problem.

In your case, you could create the ``sqlalchemy.engine.Engine`` yourself (See this [example](https://docs.sqlalchemy.org/en/14/core/engines.html)), and pass in as an parameter ``SearchEngine(engine=engine)``

So you can manag

[2022-01-06 01:52] #55 closed

[2022-01-06 01:56] MacHu-GWU commented on #54
Could you give me an example in a way of:

    Given zipcode: ``Zipcode(population=..., attriubute=value, ...)`` You want zipcode matches ...

[2022-01-06 02:00] MacHu-GWU commented on #34
They are in the database. The reason is that those examples are PO BOX type database. By default, search engine returns only STANDARD zipcode. You can follow this document to enable the search engine to return non-standard zipcode: https://uszipcode.readthedocs.io/01-Usage-Example/index.html#zipcode-type

[2022-01-06 02:00] #34 closed

[2022-01-06 02:01] MacHu-GWU commented on #19
Hi all, I just released a new version 1.0.1 with some census 2020 data.

The data source are also published https://uszipcode.readthedocs.io/index.html#about-the-data, you can explore it yourself and cross validate the searchengine results

[2022-01-06 21:28] strugee commented on #55
This is awesome @MacHu-GWU. Thank you for your hard work on this library, I really appreciate it :-)

[2022-01-17 00:25] cdonner opened #58 "Error: 'ZipCodeSearch' object has no attribute 'ses'"
## Describe the problem
Getting this error and the docker container crashes when I include uszipcode 1.0.1:

 File "/usr/local/lib/python3.10/site-packages/uszipcode/search.py", line 195, in __del__
   if self.ses:
AttributeError: 'ZipCodeSearch' object has no attribute 'ses'

When I pin the version to uszipcode==0.2.6, I can include the module.

[2022-01-17 02:21] MacHu-GWU commented on #58
What do you mean by docker container? Could you provide more information about the runtime information? Also the sample code to reproduce this problem?

[2022-01-17 04:07] cdonner commented on #58
Sure, will try to isolate it and if I can do that I will post the code.

On Jan 16, 2022 9:21 PM, Sanhe ***@***.***> wrote:

What do you mean by docker container? Could you provide more information about the runtime information? Also the sample code to reproduce this problem?

—
Reply to this email directly, view it on GitHub<https://nam04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub

[2022-01-17 15:06] cdonner commented on #58
This seems to be pretty easy to recreate:

root@1ce1e9d1a1e5:/app# pip install uszipcode==1.0.1
Collecting uszipcode==1.0.1
  Downloading uszipcode-1.0.1-py2.py3-none-any.whl (35 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/site-packages (from uszipcode==1.0.1) (2.27.1)
Requirement already satisfied: attrs in /usr/local/lib/python3.10/site-packages (from uszipcode==1.0.

[2022-01-18 13:38] jdimmerman commented on #58
@MacHu-GWU We are seeing this with the following runtime.

Base Image: official python image with tag `python:3.10.1` - https://hub.docker.com/_/python

[code]

[2022-01-21 15:30] pyDesi opened #59 "Trying to import Zipcode from uszipcode is failing"
After successfully installing uszipcode, trying to import Zipcode is failing

#My Code
!pip install uszipcode
from uszipcode import Zipcode

This was working just fine for me about a month back on colab but is now consistently failing on my google colab

ImportError                               Traceback (most recent call last)
<ipython-input-2-5dded23d0ed2> in <module>()
      1 get_ipython().sy

[2022-01-22 03:21] MacHu-GWU commented on #59
@pyDesi totally working in colab for me. maybe more information about your runtime?

![image](https://user-images.githubusercontent.com/6800411/150622977-a3a68ff3-a4a4-4a0d-98a3-6c6893ac0ce1.png)

[2022-01-22 03:24] MacHu-GWU commented on #58
It is not tested in 3.10, see https://github.com/MacHu-GWU/uszipcode-project/actions/runs/1661151266

let me test it in 3.10 and get back to you

[2022-01-31 17:28] cdonner opened #60 "Virgin Island ZIP codes are not supported"
## Describe the problem
The census.gov link given as the data source does recognize zip codes for the Virgin Islands (e.g. '00823') but the module does not.

## Sample code to reproduce the problem
[code]

## Potential Solution

Are these zip codes excluded because of the 2 leading zeros, maybe? Can they be allowed into the database?

[2022-03-05 18:27] MacHu-GWU commented on #60
@cdonner  let me look into it. sorry for the delay reply.

[2022-03-05 18:27] #59 closed

[2022-04-05 14:36] camflan commented on #58
I'm seeing this issue on 3.9.12

[code]

[2022-06-03 20:06] rmastroNTWRK opened #61 "Access Denied when Running Django project with this module on IIS"
- Where I can see the data: PermissionError: [WinError 5] Access is denied: 'C:\\Windows\\system32\\config\\systemprofile\\.uszipcode'

Context: Output from django log when my app fails to use your module

I am building a django web app that runs off of IIS. When I run the app through CMD (No IIS), it works perfectly, no issues at all. However, when I run my app through IIS, I get a denied access

[2022-06-06 19:52] chrisspen opened #62 "Docs out of date"
The docs don't seem to match the codebase anymore, as almost none of the example work.

https://uszipcode.readthedocs.io/01-Usage-Example/index.html#searchengine-examples

    Traceback (most recent call last):
      File "test.py", line 4, in <module>
        zipSearch = SearchEngine(simple_zipcode=False)
    TypeError: __init__() got an unexpected keyword argument 'simple_zipcode'

Could you ple

[2022-07-08 21:59] johnwiseheart opened #63 "Replace usage of `atomicwrites`"
As per https://github.com/untitaker/python-atomicwrites/issues/61, `atomicwrites` is deprecated.

[2022-07-20 16:45] ismaelahrazem opened #64 "Way to extract ''border polygon''"
Good morning,

I'm interested in finding the polygon that encapsulate a specific zip code.

Such that, given a zip code, i.e., zipcode = 10001, I would like to find the shape as the corresponding polygon.

In case that query is possible, what would the piece of code I should write to extract that information?

Thanks for your help

[2022-07-26 14:24] andypinxinliu opened #65 "AttributeError: 'Session' object has no attribute 'scalars'"
It seems like it does not work on python 3.9.7 on my mac.

The following is the error message I have got:

Exception ignored in: <function SearchEngine.__del__ at 0x7f78716c7430>
Traceback (most recent call last):
  File "/Users/pinxinliu/opt/anaconda3/lib/python3.9/site-packages/uszipcode/search.py", line 196, in __del__
    self.close()
  File "/Users/pinxinliu/opt/anaconda3/lib/python3.9/site-p

[2022-09-10 09:11] mPyth commented on #64
with a "small" delay, next code should work:
[code]

[2022-09-19 19:44] mPyth commented on #36
Among 51 US states (50 states + District of Columbia)  there are 665 zip codes with partial field `common_city_list` (finished with three dots).
This is obvious bug.

Here are some of them:
98155: Seattle, Lake Forest Park, Lk Forest Pk, Shorelin...
10591: Tarrytown,N Tarrytown, North Tarrytown, Sleepy Hol...
18424: Gouldsboro, Clifton, Clifton Township, Clifton Twp, ...
26525: Bruceton Mills, Bra

[2022-09-21 14:01] 931743010 opened #66 "How do you parse Common_city_list"
Want to use
Data in simple_db.sqlite;
Export to Excel;
Common_city_list is displayed as eJyLVgouLSqqVIoFAA9dAyI=
How do you parse this data; Python is not very good; How do you parse this data using Java?

[2022-10-20 04:05] mark-scherer opened #67 "Cannot operate on a closed database"
Python garbage collection triggers error within `SearchEngine.__del__`:

[code]

Don't think this has to do with how I'm calling `SearchEngine`. Produces annoying error message when the script finishes.

[2022-10-26 19:25] huangming6220 opened #68 "Fail to find a zipcode give a city and state"
## Describe the problem
Plymouth Minnesota
Traceback (most recent call last):
  File "C:\Users\m184194\Documents\Mayo\Projects\Patten_Facebook\scripts\facebook-friends-map\test.py", line 14, in <module>
    get_zipcode(current_city)
  File "C:\Users\m184194\Documents\Mayo\Projects\Patten_Facebook\scripts\facebook-friends-map\test.py", line 9, in get_zipcode
    zipcodes = engine.by_city_and_state(